@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Cor-Background: #000000d9;
  --Background-modal: #1f1f1f;
  --Cor-Primaria: #805ad5;
  --Cor-Secundaria: #48bb78;
  --Cor-Texto: #f7fafc;
  --white: #f5f5f5;
  --gray: #060606;
}

body {
  background-color: var(--Cor-Background);
  color: var(--Cor-Texto);
  text-align: justify;
  padding: 4rem;
}
